.header {
	width: 100%;
	height: 16rem;
	display: flex;
	flex-direction: row;

	margin-left: 5rem;
	margin-right: 5rem;

	align-items: center;
	justify-content: space-between;

	backgroung-color: grey;
}

.logo {
	width: 10rem;
	height: 10rem;
}

.profileInfo {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;
}

.profile {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
